/* Colours */
$color-black: #1E293B;

/* Typography */
$font-sans-serif: 'Inter', sans-serif;
$font-serif:'Source Serif Pro', serif;

$text-xs:  0.75rem;  // 12
$text-sm:  0.875rem; // 14
$text-md:  1rem;     // 16
$text-lg:  1.125rem; // 18
$text-xl:  1.25rem;  // 20
$text-2xl: 1.5rem;   // 24
$text-3xl: 1.875rem; // 30
$text-4xl: 2.25rem;  // 36
$text-5xl: 3rem;     // 48
$text-6xl: 3.75rem;  // 60
$text-7xl: 4.5rem;   // 72
$text-8xl: 6rem;     // 96
$text-9xl: 8rem;     // 14

/* Breakpoints */
$breakpoint-sm: 40rem; // 640
$breakpoint-md: 48rem; // 768
$breakpoint-lg: 64rem; // 1024
$breakpoint-xl: 80rem; // 1280