.footer {
    text-align: center;
}

.footer__social{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__social__link {
    margin: 0 $space-xs;
    display: inline;
    color: $gray;
    font-weight: $bold;
    transition: color .2s;

    &:hover {
        color: $black;
    }
    
    @media (min-width: $screen-xs) {
        margin: 0 $space-md;
    }
}

.footer__copyright {
    margin-top: $space-md;
    color: $gray;
}