// MEDIA QUERIES
$screen-xs:    640px;
$screen-sm:    768px;
$screen-md:    960px;
$screen-lg:   1200px;
$screen-xl:   1440px;
$screen-xxl:  1600px;
$screen-xxxl: 1900px;


// COLORS
$black: #333;
$gray: #888;
$light-gray: #F7F7F7;
$accent-color: #FFD600;


// TYPOGRAPHY SCALE
$text-base-size: 18px;
$text-scale-ratio-sm: 1.2;
$text-scale-ratio-md: 1.333;
$text-scale-ratio-lg: 1.5;


// FONTS
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Space Mono', monospace;
$regular: 400;
$bold:    700;


// SPACING
$space-xs:   1rem / 2;
$space-sm:   1rem;
$space-md:   1rem * 1.5;
$space-lg:   1rem * 2;
$space-xl:   1rem * 3;
$space-xxl:  1rem * 5;
$space-xxxl: 1rem * 8;