.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: $space-sm $space-xs;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__logo {
    color: $black;
    line-height: 0;
    margin-right: auto;
}

.navbar__link {
    color: $black;
    text-decoration: none;
    margin-left: $space-sm;
}