.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.navbar__wrapper {
    max-width: $screen-xl;
    margin: 0 auto;
    padding: $space-sm 4vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__logo {
    color: $black;
    line-height: 0;
    margin-right: auto;
}

.navbar__link {
    color: $black;
    @include text-underline;
    margin-left: $space-sm;
}