// BASIC STYLES

h1, h2, h3, h4, p, small {
    margin: 0;
}

h1, .text--xxxl {
    line-height: 1.1;
    letter-spacing: -1px;
    font-size:     1rem * $text-scale-ratio-sm * $text-scale-ratio-sm * $text-scale-ratio-sm * $text-scale-ratio-sm;
    
    @media (min-width: $screen-xs) {
        letter-spacing: -2px;
        font-size: 1rem * $text-scale-ratio-md * $text-scale-ratio-md * $text-scale-ratio-md * $text-scale-ratio-md;
    }

    @media (min-width: $screen-md) {
        letter-spacing: -3px;
        font-size: 1rem * $text-scale-ratio-lg * $text-scale-ratio-lg * $text-scale-ratio-lg * $text-scale-ratio-lg;
    }
}

h2, .text--xxl {
    line-height: 1.2;
    letter-spacing: normal;
    font-size:     1rem * $text-scale-ratio-sm * $text-scale-ratio-sm * $text-scale-ratio-sm;
    
    @media (min-width: $screen-xs) {
        letter-spacing: -1px;
        font-size: 1rem * $text-scale-ratio-md * $text-scale-ratio-md * $text-scale-ratio-md;
    }

    @media (min-width: $screen-md) {
        letter-spacing: -2px;
        font-size: 1rem * $text-scale-ratio-lg * $text-scale-ratio-lg * $text-scale-ratio-lg;
    }
}

h3, .text--xl {
    line-height: 1.3;
    letter-spacing: normal;
    font-size:     1rem * $text-scale-ratio-sm * $text-scale-ratio-sm;

    @media (min-width: $screen-xs) {
        letter-spacing: normal;
        font-size: 1rem * $text-scale-ratio-md * $text-scale-ratio-md;
    }

    @media (min-width: $screen-md) {
        letter-spacing: normal;
        letter-spacing: -1px;
        font-size: 1rem * $text-scale-ratio-lg * $text-scale-ratio-lg;
    }
}

h4, .text--lg {
    line-height: 1.4;
    letter-spacing: normal;
    font-size:     1rem * $text-scale-ratio-sm;

    @media (min-width: $screen-xs) {
        font-size: 1rem * $text-scale-ratio-md;
    }

    @media (min-width: $screen-md) {
        font-size: 1rem * $text-scale-ratio-lg;
    }
}

p, .text--md {
    line-height: 1.4;
    letter-spacing: normal;
    font-size: 1rem;
    font-weight: $regular;

    @media (min-width: $screen-md) {
        font-size: 1rem * $text-scale-ratio-sm;
    }
}

small, .text--sm {
    line-height: 1.2;
    letter-spacing: normal;
    font-size: 1rem / $text-scale-ratio-sm;

    @media (min-width: $screen-md) {
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
}

strong {
    font-weight: $bold;
}

ul {
    list-style: disc;
    padding-inline-start: $space-sm;

    > li {
        margin-bottom: 0.5em;
    }

    > li:last-child {
        margin-bottom: 0;
    }
}



// EFFECTS

@mixin text-underline {
    background: linear-gradient(to bottom, $accent-color 0%, $accent-color 100%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.4em;
    transition: background-size .2s $bezier-curve;
    
    &:hover {
        background-size: 100% 0.4em;
    }
}

@mixin text-highlight {
    background: linear-gradient(to bottom, $accent-color 0%, $accent-color 100%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    transition: background-size .2s $bezier-curve;
    
    &:hover {
        background-size: 100% 100%;
    }
}

@mixin text-highlight--static {
    background: linear-gradient(to bottom, $accent-color 0%, $accent-color 100%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
}
