@import 'global-variables';
@import 'mixins';
@import 'typography';



// PAGE LAYOUT

.page-container {
    max-width: $screen-xl;
    margin: 0 auto;
    padding: 0 4vw;
}

section, header, footer {
    @include section-spacing;
}



// INTRO

.intro {
    padding-top: $space-xxxl;

    @media (min-width: $screen-md) {
        padding-top: $space-xxxl * 2;
    }

    a {
        color: $black;
        @include text-highlight;
    }
}



// MAIN CONTENT

.main-content h3 {
    color: $gray;
    font-weight: $bold;
    text-transform: uppercase;
    margin-bottom: $space-sm;
}

.bio,
.skills,
.work-experience {
    @media (min-width: $screen-sm) {
        display: grid;
        grid-template-columns: 4fr 5fr;
    }
}

.bio  p,
.bio ul {
    margin-bottom: 1em;
    grid-column: 2;

    &:last-child {
        margin-bottom: 0;
    }

}

.work-experience__container {
    margin-bottom: $space-md;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work-experience__workplace {
    font-weight: $bold;
    grid-column: 1;
    grid-row:    1;
}

.work-experience__role {
    color: $gray;
    grid-column: 1;
    grid-row:    2;
}

.work-experience__timeframe {
    text-align: right;
    font-weight: $bold;
    grid-column: 2;
    grid-row:    1;
}

.work-experience__resume-link {
    grid-column: 2;

    > a {
        color: $black;
        font-weight: $bold;
        @include text-highlight;
    }
}