@import 'global-variables';
@import 'mixins';
@import 'typography';



// PAGE LAYOUT

.page-container {
    max-width: $screen-xl;
    margin: 0 auto;
    padding: 0 4vw;
}

section, header, footer {
    @include section-spacing;
}



// INTRO

.intro {
    padding-top: $space-xxxl;

    @media (min-width: $screen-md) {
        padding-top: $space-xxxl * 2;
    }

    h1 { font-weight: $bold; }

    h2 { margin-top: $space-md;}
}

.intro__title__my-name {
    color: inherit;
    @include text-highlight;
}



// PORTFOLIO

.project {
    padding-bottom: $space-xl;

    &:last-child {
        padding-bottom: 0;
    }

    @media (min-width: $screen-sm) {
        display: grid;
        grid-template-columns: 4fr 5fr;
        grid-template-rows: repeat(3, auto);
    }

    @media (min-width: $screen-md) {
        padding-bottom: $space-xxl;
    }

    @media (min-width: $screen-lg) {
        padding-bottom: $space-xxxl;
    }
}

.project__title {
    font-weight: $bold;
    grid-column: 1 / 2;
    grid-row:    2 / 4;
    margin-bottom: $space-sm;

    @media (min-width: $screen-sm) {
        margin-top: (1 - 1.2)*0.5em; // This removes top space from text. Used to fix alignment inconsistencies. See https://medium.com/codyhouse/line-height-crop-a-simple-css-formula-to-remove-top-space-from-your-text-9c3de06d7c6f
    }

}

.project__description {
    color: $gray;
    margin-bottom: $space-sm;
    grid-column: 2 / 3;
    grid-row:    2 / 3;
}

.project__link {
    grid-column: 2 / 3;
    grid-row:    3 / 4;

    > a, .project__link--not-available {
        color: $black;
        font-weight: $bold;
        @include text-highlight;
    }
}

.project__thumbnail {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    grid-column: 1 / 3;
    grid-row:    1 / 2;
    margin-bottom: $space-md;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 50%;
    }

    > img {
        position: absolute;
        height: 100%;
        top: 0;
        transition: transform .8s $bezier-curve;
    }

    &:hover img {
        transform: scale(1.1, 1.1);
    }

    @media (min-width: $screen-md) {
        border-radius: 12px;
    }
}
