@import 'global-variables';
@import 'typography';
@import 'navbar';



html, body {
    font-family: $primary-font;
    font-size: $text-base-size;
    color: $black;
}

figure {
  margin: 0;
}



// PORTFOLIO

.portfolio__project__thumbnail {
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (9 / 18) * 100%;
      background: lightgray;
    }
    > img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }