@import 'global-variables';
@import 'mixins';
@import 'typography';

// PAGE LAYOUT

.page-container {
    max-width: $screen-xl;
    margin: 0 auto;
    padding: 0 4vw;
}

footer {
    @include section-spacing;
}

// INTRO

.project-title {
    padding-top: $space-xxxl;
    padding-bottom: $space-lg;

    @media (min-width: $screen-md) {
        padding-top: $space-xxxl * 2;
        padding-bottom: $space-xl;
    }
}

// MAIN CONTENT


.project-intro {
    @media (min-width: $screen-sm) {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}

.project-intro .left {
    color: $gray;
    margin-bottom: $space-sm;
}

.project-intro .right {
    margin-bottom: 1em;
    grid-column: 2;

    &:last-child {
        margin-bottom: 0;
    }
}

.big {
    width: 100%;
    border-radius: 8px;
    @media (min-width: $screen-md) {
        border-radius: 12px;
    }
}