@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@900&display=swap');


/* Breakpoints */
$breakpoint-sm: 40rem; // 640
$breakpoint-md: 48rem; // 768
$breakpoint-lg: 64rem; // 1024
$breakpoint-xl: 80rem; // 1280

/* Typography */
$font-sans-serif: 'Inter', sans-serif;
$font-serif:'Source Serif Pro', serif;
