@import 'modern-normalize';
@import 'variables';

.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    @media (min-width: $breakpoint-sm) { padding: 0 1.5rem; }
    @media (min-width: $breakpoint-md) { padding: 0 2rem; }
    @media (min-width: $breakpoint-lg) { max-width: $breakpoint-lg; }
    @media (min-width: $breakpoint-xl) { max-width: $breakpoint-xl; }
}
